.project-sync-displayerror-inline {
    border : 5px solid var(--background-modifier-error);
    color: var(--text-error);
    padding: 10px;
}

.project-sync-displayerror-inline-name {
    font-weight: 400;
}

.project-sync-displayerror-inline-message {
    font-weight: 100;
}

.project-sync-displayerror-modal-title {
    text-align: center;
    color: var(--text-error);
}

.project-sync-displayerror-modal-name {
    font-weight: 400;
    padding: 10px;
}

.project-sync-displayerror-modal-message {
    font-weight: 100;
    padding: 20px;
}

.project-sync-button-div {
    background-color: var(--background-primary-alt);
    display: flex;
    margin: 10px;
    align-items: center;
}

.project-sync-button-text {
    margin-left: 10px;
}

.project-sync-button-button {
    padding: 10px;
    margin: 10px;
}

.project-sync-button-button-success {
    background-color: var(--background-modifier-success) !important;
    padding: 10px;
    margin: 10px;
}

.project-sync-button-icon-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}