.project-sync-displayerror {
    border : 1px solid var(--background-modifier-error);
    background: var(--background-primary-alt);
    padding: 10px;
}

.project-sync-displayerror-name {
    font-weight: 400;
}

.project-sync-displayerror-message {
    color: var(--text-muted);
}